.dropdown {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 15px 20px;
  background-color: rgb(36, 30, 30);
  color: rgb(202, 193, 193);
  font-size: 25px;
  .dropdown__item {
    margin: 0 10px;
    position: relative; //importante
    &:hover {
      .dropdown__submenu {
        opacity: 1;
        transform: rotateX(0deg);
        transition-timing-function: ease-out;
      }
    }
    .dropdown__submenu {
      list-style: none;
      background-color: rgb(202, 193, 193);
      border-radius: 5px;
      margin: 10px 0px 0px 0px;
      padding: 15px;
      width: 150px;
      position: absolute; //importante
      left: 30%;
      transform: rotateX(-90deg);
      transform-origin: top center;
      transition: all 150ms ease-in;
      opacity: 0.25;
      &:after {
        content: " ";
        border: 10px solid transparent;
        border-bottom-color: rgb(202, 193, 193);
        left: 25%;
        position: absolute;
        bottom: 95px;
        transform: translateX(-110%);
      }
      .dropdown__submenu--item {
        color: black;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.coluna {
  width: 30%;
  background-color: rgb(202, 193, 193);
  font-size: 20px;
  color: rgb(36, 30, 30);
  padding: 5px 0px;
}

td {
  padding: 10px 0px;
}

tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
